{% extends 'base.html' %}
<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
{% block title %} Company Page {% endblock %}
{% block body %} 
<h1>FAQs</h1>
<h3>What is TroTro.live</h3>
<p>A digital form of your regular TroTro transit. According to Wikipedia, in Ghana and neighboring countries
TroTros are private owned mini-buses or shared taxis that travel fixed routes leaving when filled to
capacity. While there are TroTro stations, these vehicles can also be boarded anywhere along the route.</p>
<br>
<h3>Why TroTro live?</h3>
<h4>It helps citizens, tourists, passengers and etc</h4>
1. To now your TroTro fare from point A to point B.
2. To report and track missing items on TroTro vehicles within 6 hours.
3. In June 2021, we will launch a microchip (still in production) which will aid us to track, book
TroTro transit, a plus for TroTro car owners.</p>
<h3>How do you benefit from TroTro Live?</h3>
<p></p>

{% endblock %}